bm25_search_results.json
re_ranked_search_results.json
ground_truth_search_results.json
paragraphs_chunked*
paragraphs_test*
training_BERT/logs/*
model_*
training_BERT/output/400k_training_failed/*
notes_*